
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: lowercase;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


.hero {
    height: 100vh;
    background: url("images/headphones_hero_1.jpg") center/cover no-repeat;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    max-width: 650px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 25px;
}

.cta {
    background: #ff416c;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 30px;
}

.description {
    font-size: 14px;
    line-height: 22px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .header {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 28px;
    }
}
